@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: monospace;
}

.retro-textarea + div > label {
  color: #00ff00;
  font-family: monospace !important;
  margin-top: 0.5rem;
}

.retro-textarea:focus + div > label {
  color: #00ff00 !important;
  font-family: monospace;
}

.p-4 {
  background-color: #1e1e1e;
}

.ml-auto {
  color: white;
  background-color: #1e1e1e;
  text-decoration-color: white !important;
  font-family: monospace;
}
